#updateProfile {
  background-color: rgb(241, 235, 235);
  height: 90vh;
  display: flex;
  justify-content: center;
}

.form-div {
  background-color: rgb(255, 255, 255);
  height: 75vh;
  width: 30vw;
  margin-top: 3rem;
}

.edit-profile {
  background-color: rgb(236, 241, 244);
  height: 4rem;
  padding-left: 2vw;
  padding-top: 1vw;
  font-weight: bolder;
  font-size: small;
}

.name-phno {
  margin-top: 1rem;
  width: 25vw;
  /* background-color: red; */
  margin-left: 2rem;
  font-family: "Courier New", Courier, monospace;
}

#name-phn {
  /* background-color: transparent; */
  /* border: none; */
}
#name-phn:focus {
  background-color: #ffffff;
  border: black;
  /* outline: none; */
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}
#name-phn:focus + .underline {
  transform: scale(1);
}

#email-add {
  /* background-color: transparent; */
}
#email-add:focus {
  background-color: #ffffff;
  border: black;
  /* outline: none; */
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}

#email-add:focus + .underline {
  transform: scale(1);
}
.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  /* left: 50px; */
  /* margin-top: -4px; */
  position: relative;
  top: -15px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 340px;
}

.email-address {
  /* margin-top: 1rem; */
  width: 25vw;
  margin-left: 2rem;
  /* background-color: rgb(0, 128, 255); */
  font-family: "Courier New", Courier, monospace;
}
.btn-div {
  background-color: rgb(2, 121, 240);
  display: flex;
  justify-content: center;
}
.btn-2i {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: 600;
}

/* .btn-2i:hover { */
/* box-shadow: 0px 0px 8px 0px rgb(250, 1, 138); */
/* background: -webkit-linear-gradient(rgb(250, 1, 138), rgb(154, 2, 255)); */
/* top: 2px; */
/* } */

/* .btn-2i:active { */
/* box-shadow: 0px 0px 5px 1px rgb(245, 16, 96);   */
/* border: none;  */
/* } */

@media (max-width: 500px) {
  #updateProfile {
    background-color: rgb(218, 246, 243);
  }

  .form-div {
    /* background-color: rgb(13, 17, 220); */
    height: 65vh;
    width: 85vw;
    margin-top: 3rem;
  }
  .name-phno {
    margin-top: 1rem;
    width: 300px;
    /* background-color: red; */
    margin-left: 15px;
    font-family: "Courier New", Courier, monospace;
  }
 
  #name-phn:focus {
    background-color: #ffffff;
    border: black;
    /* outline: none; */
    box-shadow: none;
    border-bottom: 1px solid #ccc;
  }
  #name-phn:focus + .underline {
    transform: scale(1);
  }
  
 
  #email-add:focus {
    background-color: #ffffff;
    border: black;
    /* outline: none; */
    box-shadow: none;
    border-bottom: 1px solid #ccc;
  }
  .email-address {
    /* margin-top: 1rem; */
    width: 25vw;
    margin-left: 2rem;
    /* background-color: rgb(0, 128, 255); */
    font-family: "Courier New", Courier, monospace;
  }
  .btn-div {
    background-color: rgb(2, 121, 240);
    display: flex;
    justify-content: center;
  }
  
  .email-address {
    /* margin-top: 1rem; */
    width: 300px;
    margin-left: 15px;
    /* background-color: rgb(0, 128, 255); */
    font-family: "Courier New", Courier, monospace;
  }
  .btn-div {
    background-color: rgb(2, 121, 240);
    display: flex;
    justify-content: center;
  }
  .btn-2i {
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    font-weight: 600;
  }
}
