.card_style {
    cursor: pointer;
    transition: .3s;
}

.header {
    box-shadow: 10px -5px 25px black;
}



.goback {
    background-color: black;
    color: white;
}

#backButton {
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(95, 22, 132),  rgb(250, 1, 138)) 1;
    width: 10rem;
    background: -webkit-linear-gradient(rgb(250, 1, 138), rgb(154, 2, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.smalltrash {
    display: none;
}

#card {
    background-color: blue;
}

.card_style:hover {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.082);
}


.details {
    flex: .5;
    margin-left: 20px
}

;

.rating {
    background-color: green;
}

/* 
 .Skeleton{
    display: flex;
    background-color: rgb(0, 26, 255); 
       width: 100%;
       height: 800px;
 } */
.main {
    /* background-color: rgb(219, 81, 81); */
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    align-items: center;
}

#title-search {
    background-image: url('../assets/bgc4.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
    box-shadow: inset 0px 0px 10px 3px black
}

/* #main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 120px;
 }   
 
 */

/* @media (max-width:772px) {
    .iteamsdetails {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} */

@media (max-width:450px) {
    .smalltrash {
        display: block;
    }

    .largetrash {
        display: none;
    }

    .emptycart_img {
        margin-right: 50px;
    }

    .smallclose {
        display: none;
    }

    /* individual iteams details */

  
    #cart-card{
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        padding-left: 45px;
    }

}